<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Bootstrap Example</title>
  	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
  	<link rel="stylesheet" type="text/css" href="/css/custompage.css"/>
  	<script src="/js/jquery.min.js"/>
	<script src="/js/custompage.js"/> 
  	<script src="/js/bootstrap.min.js"/>
</head>
<body>

	<div sec:authorize="hasRole('ROLE_CLIENT')">
		<div th:replace="/role/client :: nav"></div>
	</div>
	
	<div sec:authorize="hasRole('ROLE_REPAIRMAN')">
		<div th:replace="/role/repairman :: nav"></div>
	</div>

	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<div th:replace="/role/admin :: nav"></div>
	</div>
	
	<div class="container-fluid">
	    <div class="row">
	
	        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
	        </div>
	        
	        <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
	
	            <br/>
	            <div class="row">

					<div th:if="${maintenance.progress.name() == 'WAITING' and rules != null}" sec:authorize="hasAnyRole('ROLE_REPAIRMAN', 'ROLE_ADMIN')">
						<button data-toggle="collapse" data-target="#triggeredRules" type="button" class="btn btn-info pull-right">Uruchomione reguly</button>
						<br/>
						<br/>

						<div id="triggeredRules" class="collapse">
							<p th:each="rule : ${rules}" th:text="'Reguła: '+${rule.number}+ ' ' + ${rule.text}"></p>
						</div>
					</div>

	                <div class="panel panel-info">
	                    <div class="panel-heading text-center"><b><h2 th:text="${maintenance.name}">Tytuł konserwacji</h2></b></div>
	                    <div class="panel-body">
	                        <div class="row">
	                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
	                                <div class="img-wrapper">
	                                    <img class="img-responsive" th:src="${maintenance.equipment.image.name}" alt="Avatar"/>
	                                </div>
	                            </div>

								<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
									<br/>
									<p th:text="'Właściciel: ' + ${maintenance.equipment.client.user.username}" class="text-left"></p>
									<p th:text="'Data produkcji: ' + ${maintenance.equipment.productionDate}" class="text-left"></p>
									<p th:text="'Numer seryjny: ' + ${maintenance.equipment.serialNumber}" class="text-left"></p>
									<p th:text="'Data ostatniej konserwacji: ' + ${maintenance.equipment.lastMaintenanceDate}" class="text-left"></p>
									<p th:text="'Częstotliwość konserwacji sprzętu(dni): ' + ${maintenance.equipment.maintenanceFrequency}" class="text-left"></p>
									<p th:text="'Data ważności konserwacji: ' + ${maintenance.equipment.dateOfMinimumDurability}" class="text-left"></p>
									<p class="text-left">Opis: </p>
									<p th:text="${maintenance.equipment.description}" class="text-left"></p>
								</div>
	                        </div>
	                    </div>
	                </div>

					<div sec:authorize="hasAnyRole('ROLE_REPAIRMAN', 'ROLE_ADMIN')">
						<a th:if="${maintenance.progress.name() == 'WAITING'}" th:href="@{/maintenances/} + ${maintenance.id} + '/take'" class="btn btn-success pull-right">Podejmij konserwacje</a>
						<a th:if="${maintenance.progress.name() == 'DOING'}" th:href="@{/maintenances/} + ${maintenance.id} + '/reports/create'" class="btn btn-success pull-right">Zrób raport</a>
					</div>
	                
					<div class="panel panel-info" th:if="${report != null}">
		            	<div class="panel-heading text-center"><h3>Raport z konserwacji</h3></div>
		                <div class="panel-body">
							<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
								<br/>
								<p class="text-left" th:text="'Tytuł: ' + ${report.name}">Tytuł</p>
								<!--<p class="text-left" th:if="${report.dateCreation != null}" th:text="'Data utworzenia: ' + ${#temporals.format(report.dateCreation, 'dd-MM-yyyy HH:mm')}">Data utworzenia</p>-->
								<div th:if="${report.dateLastModification != null}">
									<p class="text-left" th:text="'Data ostatniej modyfikacji: ' + ${#temporals.format(report.dateLastModification, 'dd-MM-yyyy HH:mm')}">Data ostatniej modyfikacji</p>
								</div>
								<a th:href="'/download/report/' + ${report.idReport}" class="btn btn-info btn-sm" role="button">Pobierz raport z konserwacji</a>
								<!--<a th:href="'/download/report/' + ${report.idReport}">Pobierz raport z konserwacji</a>-->
								<br/>
								<br/>
								<p class="text-left">Opis z przebiegu konserwacji:</p>
								<p class="text-left" th:text="${report.description}"></p>

							</div>
						</div>
					</div>

	                <a role="link" onclick="goBack();" class="btn btn-default pull-left">Wstecz</a>
					<a th:if="${report != null}" sec:authorize="hasAnyRole('ROLE_REPAIRMAN', 'ROLE_ADMIN')" th:href="@{/maintenances/} + ${maintenance.id} + '/reports/' + ${report.idReport} + '/update'" class="btn btn-success pull-right">Edytuj raport</a>

	            </div>

				<br/>
				<br/>
	        </div>
	        
	        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
	        </div>
	    </div>
	</div>

</body>
</html>